.dimmer
{
    background:#000;
    opacity:0.5;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:10;
}

.messageBox {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index:20;
}

@media (max-width:920px)  {
  .messageBox {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    z-index:50;
  }
}
